<!DOCTYPE html>
<html>
<head>
	<title>Add an Otter</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<form method="POST" action="/otters">
		<label>Name</label><input type="name" name="name">
		<label>Age</label><input type="age" name="age">
		<label>Color</label><input type="color" name="color">
		<input type="submit" value="Submit">
	</form>
	<a href="/">Cancel</a>
</body>
</html>