#color {
	height: 30px;
	width: 30px;
	background-color: #000000;
	display: inline-block;
	}
#otter {
	display: inline-block;
	border: 1px solid black;
	}
#inline {
	display: inline-block;
	}
#add {
	display: block;
	}
img {
	height: 150px;
	padding: 20px;
	}
p {
	padding: 20px;
	}
		
input, button {
	margin-left: 115px;
	display: block;
	}
h1 {
	text-align: center;
	}

label {
	padding: 20px;
}
